aiohttp~=3.11.11
email-validator~=2.2.0
mutagen~=1.47.0
overrides~=7.7.0
pydantic-settings~=2.7.1
pydantic~=2.10.4
pykakasi~=2.3.0
sentry-sdk~=2.19.2
starlette~=0.41.0
tenacity~=9.0.0
uvicorn~=0.34.0
